backups/*
cache/*
storage/*
test/*
user_privileges/*
config.inc.php
*.gz
*.log
*.sql
.svn
*.tar.gz
*.tgz
.idea/*
logs/*
languages/*
parent_tabdata.php
tabdata.php
dhutils/vendor/
dhutils/composer.lock
.env
.DS_Store
