.boxTitle a.selected{
    background: transparent !important;
    color: #FFF !important;
    font-weight: bold;
    font-size: 30px;
}
.boxTitle li{
    width: 100% !important;
    float: left;
    text-align: center;
    background-color: transparent !important;;
}
.headerlogo {
    width: 100%;
    display: block;
    text-align: center;
}
.arrow-up {
  width:0px;
  height:0px;
  border-left:30px solid transparent;
  border-right:30px solid transparent;
  border-bottom:30px solid #333; /* Tam giác phía dưới được đổ màu */
}
/* Tạo mũi tên hướng xuống */
.arrow-down {
  width:0px;
  height:0px;
  border-left:30px solid transparent;
  border-right:30px solid transparent;
  border-top:30px solid #fff; /* Tam giác phía trên được đổ màu */
}
/* Tạo mũi tên hướng bên trái */
.arrow-left {
  width:0px;
  height:0px;
  border-bottom:30px solid transparent;
  border-top:30px solid transparent;
  border-right:30px solid #fff; /* Tam giác phải được đổ màu */

}
/* Tạo mũi tên hướng bên phải */
.arrow-right {
  width:0px;
  height:0px;
  border-bottom:30px solid transparent;
  border-top:30px solid transparent;
  border-left:30px solid #fff; /* Tam giác trái được đổ màu */
}
.cd-form-bottom-message.left{
    width:50%;
    text-align:left;
}
.modal-center{
width:100% !important;
    text-align:center !important;
}
.modal-center-text{
    color: #58595b;
    text-align: center;
    display:inline-block;
    text-decoration: none !important;
    margin:0 auto;
}
.cd-form-bottom-message.left label, .cd-form-bottom-message.right label{
    color: #FFF;
}
.cd-form-bottom-message.right{
    width:50%;
    text-align:right;
    left: auto;
    right:0;
}
.cd-user-modal{
    background-image: url('../img/VTigerBackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
.error-message{
    color:red;
    font-style:italic;
    font-size: 90%;
}
.hide{
    display: none;
}
